{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/custom.css" />
{% endblock %}

{% block headTitle %}Articles{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="article"> {# article #}
            <h1 style="margin-top: 0px">{{ article.title }}</h1>
            <div><strong>Author:</strong> {{ article.author }} :: <strong>Created:</strong> {{ article.createdAt|date("d/m/Y H:i:s") }} :: <strong>Updated:</strong> {{ article.updatedAt|date("d/m/Y H:i:s") }}</div>
            <div style="padding: 20px;font-size: medium">
                {{ article.content }}
            </div>
            <div style="border-top:1px solid #DDD; padding-top: 10px">
                <div style="margin: 10px 0px;">
                    {% for tag in article.tags %}
                        <span class="article-tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <div></div>
            </div>
        </div> {# end article#}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}