<div class="rounded-box margin-bottom-lg"> {# article #}
    <div style="float: right;">
        {# Without voter #}
        {# if article.author == app.user or is_granted('ROLE_ADMIN') #}
        {% if is_granted('EDIT', article) %} {# using voter const: constant('AppBundle\\Security\\ArticleVoter::EDIT_ARTICLE') #}
            <a href="{{ path('app_article_edit', {'slug': article.slug}) }}"><img src="{{ asset('icons/glyphicons-151-edit.png') }}" alt="edit article" /></a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_article_remove', {'slug': article.slug}) }}"><img src="{{ asset('icons/glyphicons-198-remove.png') }}" alt="remove article" /></a>
            {% endif %}
        {% endif %}

    </div>
    <h1 style="margin-top: 0"><a style="color: inherit; text-decoration: inherit;" href="{{ path('app_article_show', {'slug': article.slug}) }}">{{ article.title }}</a></h1>
    <div>
        <strong>Author:</strong> <a href="{{ path('app_articles_byUser', {'username': article.author.username}) }}">@{{ article.author }}</a> ::
        <strong>Created:</strong> {{ article.createdAt|date("d/m/Y H:i:s") }} ::
        <strong>Updated:</strong> {{ article.updatedAt|date("d/m/Y H:i:s") }}
    </div>
    <div id="article-intro" style="padding: 20px;font-size: medium;font-weight: bold">
        {{ article.intro }}
    </div>
    {% if show_content is defined %}
        <div id="article-content" style="margin-bottom:20px;padding: 0 20px;font-size: medium">
            {{ article.content }}
        </div>
    {% endif %}
    <div style="border-top:1px solid #DDD; padding-top: 10px;">
        <div style="margin: 10px 0;float: left">
            {% for tag in article.tags %}
                <a class="btn btn-default" href="{{ path('app_articles_byTag', {'name': tag.name}) }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <div style="margin: 10px 0;float: right">
            {{ article.comments.count }} <a href="{{ path('app_article_show', {'slug': article.slug}) }}"><img src="{{ asset('icons/glyphicons-310-comments.png') }}" /></a>
        </div>
        <div style="clear: both"></div>
    </div>
</div> {# end article#}

{% if show_content is defined %}
    {{ render(controller('AppBundle:Comment:showForm', {'id': article.id})) }}
{% endif %}

{% if comments is defined %}
    {% include ':comment:showCommentsByArticle.html.twig' with {'comments': comments} %}
{% endif %}